{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="m-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.created_at }}</small>
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
        {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-2 ml-2 " href="{% url 'post_update' object.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-2" href="{% url 'post_delete' object.id %}">Remove</a>
              </div>
        {% endif %}
    </article>
{% endblock content %}